html{
  overflow-x: hidden;
}
.headline {
  position: absolute;
  text-shadow: 0px 0px 1px black;
  font-family: "Arial Black";
  font-size: 105px;
  top: 70px;
  left: 400px;
}
.help_headline {
  position: absolute;
  text-shadow: 0px 0px 1px black;
  font-size: 20px;
  color: white;
  top: 430px;
  left: 400px;
  right: 200px;
}
.help_description {
  position: absolute;
  text-shadow: 0px 0px 1px black;
  font-size: 14px;
  color: #45a29e;
  top: 780px;
  right: 240px;
  left: 800px;
}
.plus {
  position: absolute;
  text-shadow: 0px 0px 1px black;
  font-size: 14px;
  color: #45a29e;
  top: 1180px;
  width: 350px;
  left: 350px;
}
.minus {
  position: absolute;
  text-shadow: 0px 0px 1px black;
  font-size: 14px;
  color: #45a29e;
  top: 1180px;
  width: 350px;
  left: 850px;
}
.name{
  color: white;
}
.line {
  position: absolute;
  background-color: #1f2833;
  color: #1f2833;
  height: 3px;
  width: 100%;
  left: 0;
  top: 50px;
}
li{
  padding: 9px;
  list-style-type: square;
}
.logo_img{
  position: absolute;
  width: 130px;
  left: 29px;
  top: 9px;
}
.limit_1 {
  position: absolute;
  background-color: white;
  top: -10px;
  color: white;
  height: 2px;
  width: 350px;
}
.limit_2 {
  position: absolute;
  background-color: white;
  bottom: -35px;
  color: white;
  height: 2px;
  width: 350px;
}
.end_limit {
  position: absolute;
  background-color: #0b0c10;
  height: 40px;
  width: 100%;
  left: 200px;
  top: 2000px;
}
body{
  background: #0b0c10;
  color: #66fcf1;
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}
header{
  position: fixed;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  height: 50px;
  background-color: #0b0c10;
 }
footer{
  position:fixed;
  overflow: hidden;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
 background-color: #213240;
 }
.logo {
  margin-left: 10px;
  color: white;
  font-size: 15px;
}
.sidebar {
  width: 200px;
  position: fixed;
  top: 50px;
  left: 0;
  background-color: #1f2833;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  font-size: 15px;
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  padding: 22px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #45a29e;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #34414a;
  color: white;
}
.back{
  position: absolute;
  height: 520px;
  width: 100%;
  z-index: -1;
  top: 50px;
}
.image img {
	filter: brightness(50%);
}
.pic{
  position: absolute;
  height: 300px;
  left: 340px;
  top: 760px;
}