.line {
  position: absolute;
  background-color: #1f2833;
  color: #1f2833;
  height: 3px;
  width: 100%;
  left: 0;
  top: 50px;
}
body{
  background: #0b0c10;
  color: #66fcf1;
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}
tr:hover td{
    background: #1f2833;
}
th{
  background-color: #1f2833;
  text-align: left;
}
table{
  text-align: left;
  position: absolute;
  border-collapse: collapse;
  z-index: 1;
  top: 70px;
  height: 400px;
  width: 600px;
  background-color: #0b0c10;
  left: 280px;
  color: #45a29e;
  border-color: #111b24;
}
caption {
   caption-side: top;
   text-align: left;
   padding: 20px 0;
   font-size: 20px;
}
header{
  position: fixed;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  height: 50px;
  background-color: #0b0c10;
 }
footer{
  position:fixed;
  overflow: hidden;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
 background-color: #213240;
 }
.logo {
  margin-left: 10px;
  color: white;
  font-size: 15px;
}
.sidebar {
  width: 200px;
  position: fixed;
  top: 50px;
  left: 0;
  background-color: #1f2833;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  font-size: 15px;
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  padding: 22px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #45a29e;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #34414a;
  color: white;
}

.pic {
  position: absolute;
  height: 300px;
  left: 440px;
  top: 640px;
  border: 3px solid #2279af;
}

img {
	filter: hue-rotate(-26deg);
}

.line {
  position: absolute;
  background-color: #0b0c10;
  height: 40px;
  width: 100%;
  left: 200px;
  top: 970px;
}