<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Востребованность</title>
    <link rel="stylesheet" href="{% static "css/style_demand.css" %}" />
</head>
<body>
 <header>
     <h1 class="logo">Fullstack</h1>
 </header>
<main>
        <div class="sidebar">
            <a href="http://127.0.0.1:8000/">Главная</a>
            <a class="active" href="http://127.0.0.1:8000/demand/">Востребованность</a>
            <a href="#">География</a>
            <a href="#">Навыки</a>
            <a href="#">Последние вакансии</a>
        </div>
        <h1 class ="headline">Востребованность</h1>
    </main>

</body>
</html>