<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>География</title>
    <link rel="stylesheet" href="{% static "css/style_geography.css" %}" />
</head>
<body>
 <header>
     <h1 class="logo">*logo*</h1>
     <div class="line"></div>
 </header>
    <main>
        <div class="sidebar">
            <a href="http://127.0.0.1:8000/">Главная</a>
            <a href="http://127.0.0.1:8000/demand/">Востребованность</a>
            <a class="active" href="http://127.0.0.1:8000/geography/">География</a>
            <a href="http://127.0.0.1:8000/skills/">Навыки</a>
            <a href="http://127.0.0.1:8000/latest_vacancies/">Последние вакансии</a>
        </div>
        <table border="2" cellpadding="2px" align="left">
        <caption>Уровень зарплат по городам</caption>
        <thead><th>Город</th><th>Уровень зарплат</th></thead>
        {% for i in cities %}
            <tr>
                <td>{{ i.city }}</td>
                <td>{{ i.level_salary }}</td>
            </tr>
        {% endfor %}
        </table>
        <img class = "pic" src="{% static "images/city_graf.png" %}" alt="графики зарплат" >
        <div class="line"></div>
    </main>
    <footer>
        <h1 class="logo">Ахметгареева Дарья Александровна   РИ-210944</h1>
    </footer>
</body>
</html>