<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Последние вакансии</title>
    <link rel="stylesheet" href="{% static "css/style_latest_vacancies.css" %}" />
</head>
<body>
 <header>
     <img class = "logo_img" src="{% static "images/logo_img.png" %}" alt="лого" >
     <div class="line_limit_header"></div>
 </header>
    <main>
        <div class="sidebar">
            <a href="http://127.0.0.1:8000/">Главная</a>
            <a href="http://127.0.0.1:8000/demand/">Востребованность</a>
            <a href="http://127.0.0.1:8000/geography/">География</a>
            <a href="http://127.0.0.1:8000/skills/">Навыки</a>
            <a class="active" href="http://127.0.0.1:8000/latest_vacancies/">Последние вакансии</a>
        </div>
    </main>
    <footer>
        <h1 class="logo">Ахметгареева Дарья Александровна   РИ-210944</h1>
    </footer>
</body>
</html>