<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>
<body>
 <header>
     <img class = "logo_img" src="{% static "images/logo_img.png" %}" alt="лого" >
     <div class="line"></div>
 </header>
    <main>
        <div class="sidebar">
            <a class="active" href="http://127.0.0.1:8000/">Главная</a>
            <a href="http://127.0.0.1:8000/demand/">Востребованность</a>
            <a href="http://127.0.0.1:8000/geography/">География</a>
            <a href="http://127.0.0.1:8000/skills/">Навыки</a>
            <a href="http://127.0.0.1:8000/latest_vacancies/">Последние вакансии</a>
        </div>
        <h1 class="headline" >FULLSTACK-
             РАЗРАБОТЧИК</h1>
        <h2 class="help_headline">Универсальный программист, который может сам с нуля разработать функциональный продукт.
            Такой специалист разбирается как в Back-end составляющей, так и во Front-end.</h2>
            <div class="image"><img class = "back" src="{% static "images/main_img.jpg" %}" alt="задний фон" ></div>
        <h3 class="help_description">Потребность в таких специалистах растет с каждым месяцем в силу их универсальности,
            потому как один IT-джедай может заменить трех-четырех узких специалистов, легко выполняя самые разнообразные задачи.

            Full-stack разработчики могут работать с большим набором технологий, они способны создать веб-проект в одиночку, паралелльно выполняяя задачи Frontend-программиста и
            Backend-разработчика: верстка дизайна сайта, настройка функционирования форм и кнопок, создание серверной части, настройка сервера и даже создание мобильной разработки при необходимости портировать веб-приложение на соответствующие платформы.
        </h3>
        <img class = "pic" src="{% static "images/main_img_1.png" %}" alt="человек с ноутбуком" >
        <div class="plus">
            <h2 class = "name">Плюсы профессии Full-stack разработчика</h2>
            <div class="limit_1"></div>
            <li>Вариативность переходов из фронтенда в бэкенд и наоборот.</li>
            <li>Карьерные перспективы: Full-stack разработчик может в одиночку спроектировать ПО или приложение и хорошо разбирается, как устроена разработка. Это упрощает переход в тимлида или архитектора.</li>
            <li>Работа на стыке технологий: такой специалист может в одиночку разработать решение, для которого обычно требуется несколько человек. Поэтому такому специалисту будет проще разработать собственный проект или запустить стартап: для MVP не потребуется нанимать команду.</li>
            <li>Ниже риск выгорания: на позиции Fullstack постоянно приходится изучать новые технологии.</li>
            <li>Выбор лучшего решения: понимая, как взаимодействуют разные системы, такой специалист сможет выбрать решение, которое боятся использовать другие разработчики из-за недостатка опыта.</li>
            <div class="limit_2"></div>
        </div>
        <div class="minus">
            <h2 class = "name">Минусы профессии Full-stack разработчика</h2>
            <div class="limit_1"></div>
            <li>Из-за большого количества технологий, с которыми приходится работать, у Fullstack разработчика не остается времени на глубокое погружение в конкретную сферу. Поэтому в каких-то технологиях он будет проигрывать узконаправленному специалисту.</li>
            <li>Сложности в развитии: необходимо распределять время между фронтендом и бэкендом – возможностей для профессионального роста в узких технологиях меньше. Чтобы все знания и умения удерживать на хорошем уровне, необходимо тратить много усилий.</li>
            <li>Непросто следить за новыми трендами: мир IT очень гибкий и переменчивый. Fullstack разработчику необходимо быть в курсе всех новинок, использовать современные инструменты и подходы.</li>
            <li>Много обязанностей: на Full-stack разработчика может большая нагрузка по проекту и знаниям технологий, а также управление проектом и мобильная разработка. Периодически могут прилетать дополнительные задачи: дописать код, пересмотреть, доделать. Считается, что Full-stack разработчик решает сложные задачи, поэтому именно они попадают в его зону ответственности.</li>
            <li>Постоянная включенность в проект: Full-stack разработчику сложнее отключиться от проекта, т.к. его невозможно заменить другим специалистом. Поэтому в любое время такой специалист должен быть на связи.</li>
            <div class="limit_2"></div>
        </div>
        <div class="end_limit"></div>
    </main>
    <footer>
        <h1 class="logo">Ахметгареева Дарья Александровна   РИ-210944</h1>
    </footer>
</body>
</html>