<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>
<body>
 <header>
     <h1 class="logo">*logo*</h1>
     <div class="line"></div>
 </header>
    <main>
        <div class="sidebar">
            <a class="active" href="http://127.0.0.1:8000/">Главная</a>
            <a href="http://127.0.0.1:8000/demand/">Востребованность</a>
            <a href="#">География</a>
            <a href="#">Навыки</a>
            <a href="#">Последние вакансии</a>
        </div>
        <h1 class="headline" >FULLSTACK-
             РАЗРАБОТЧИК</h1>
        <h2 class="help_headline">Универсальный программист, который может сам с нуля разработать функциональный продукт.
            Такой специалист разбирается как в Back-end составляющей, так и во Front-end.</h2>
        <img class = "back" src="{% static "images/main_img.jpg" %}" alt="задний фон" >
        <h3 class="help_description">Потребность в таких специалистах растет с каждым месяцем в силу их универсальности,
            потому как один IT-джедай может заменить трех-четырех узких специалистов, легко выполняя самые разнообразные задачи.

            Full-stack разработчики могут работать с большим набором технологий, они способны создать веб-проект в одиночку, паралелльно выполняяя задачи Frontend-программиста и
            Backend-разработчика: верстка дизайна сайта, настройка функционирования форм и кнопок, создание серверной части, настройка сервера и даже создание мобильной разработки при необходимости портировать веб-приложение на соответствующие платформы.
        </h3>
        <img class = "pic" src="{% static "images/main_img_1.png" %}" alt="человек с ноутбуком" >
    </main>
    <footer>
        <h1 class="logo">Ахметгареева Дарья Александровна   РИ-210944</h1>
    </footer>
</body>
</html>