<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Навыки</title>
    <link rel="stylesheet" href="{% static "css/style_skills.css" %}" />
</head>
<body>
 <header>
     <img class = "logo_img" src="{% static "images/logo_img.png" %}" alt="лого" >
     <div class="line_limit_header"></div>
 </header>
    <main>
        <div class="sidebar">
            <a href="http://127.0.0.1:8000/">Главная</a>
            <a href="http://127.0.0.1:8000/demand/">Востребованность</a>
            <a href="http://127.0.0.1:8000/geography/">География</a>
            <a class="active" href="http://127.0.0.1:8000/skills/">Навыки</a>
            <a href="http://127.0.0.1:8000/latest_vacancies/">Последние вакансии</a>
        </div>
        <table border="2" cellpadding="2.5px" align="left">
        <caption>Топ-10 навыков по годам</caption>
        <thead><th>Год</th><th>Топ-10 навыков</th></thead>
        {% for i in skills %}
            <tr>
                <td>{{ i.year }}</td>
                <td>{{ i.list_skills }}</td>
            </tr>
        {% endfor %}
        </table>
    </main>
    <footer>
        <h1 class="logo">Ахметгареева Дарья Александровна   РИ-210944</h1>
    </footer>
</body>
</html>